/* =========================================
   Google Fonts
========================================= */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* =========================================
   CSS Variables
========================================= */
:root{
   /* ========== Main colors (HSL - hue, saturation, and lightness) ========== */

   /* Blue - hsl(217, 85%, 74%); */
   /* Purple - hsl(245, 54%, 74%); */
   /* Teal - hsl(181, 47%, 49%); */
   /* Yellow - hsl(65, 60%, 70%); */
   /* Green - hsl(162, 60%, 65%); */
   /* Red - hsl(356, 67%, 70%); */
   /* Pink - hsl(330, 73%, 72%); */

   --hue: 245;
   --sat: 85%;
   --light: 74%;

   --primary-color: hsl(var(--hue) var(--sat) var(--light)); /* primary */
   --white-color: hsl(var(--hue) 45% 98%); /* white */
   --dark-color: hsl(var(--hue) 26% 12%); /* dark */

   /* ======= Changeable colors for dark/light themes ======= */
   --color-01: hsl(var(--hue) var(--sat) var(--light)); /* primary to dark */
   --color-02: hsl(var(--hue) 45% 98%); /* white to dark */
   --color-03: hsl(var(--hue) 26% 12%); /* dark to white */
   --color-04: hsl(var(--hue) 0% 62%); /* light-graygray to dark-gray */
   --color-05: hsl(var(--hue) 26% 12%); /* dark to primary */

   --body-color: hsl(250 26% 12%); /* dark to white */
   --hover-color: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));

   /* ======= Background colors ======= */
   --bottom-nav-bg: hsl(var(--hue) 32% 25% / .65);
   --card-bg: linear-gradient(120deg, hsl(var(--hue) 54% 74% / .15), hsl(var(--hue) 54% 74% / .05));
   --modal-backdrop-bg: hsl(var(--hue) 54% 74% / .1);
   --footer-bg: linear-gradient(360deg, hsl(var(--hue) 54% 74% / .15), hsl(var(--hue) 54% 74% / .05));;

   --scrollbar-color: hsl(var(--hue) 25% 20%);
   --scrollbar-thumb: hsl(var(--hue) var(--sat) var(--light));
   --scrollbar-thumb-hover: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));

   /* ======= Font and typography ======= */
   --body-font-family: "Inter", serif;
   
   /* ======= Font sizes ======= */
   --h1-font-size: 2.85rem;
   --h2-font-size: 2.25rem;  
   --h3-font-size: 1.97rem;
   --h4-font-size: 1.43rem;
   --h5-font-size: 1.13rem;

   --xlarge-font-size: 1.48rem;
   --large-font-size: 1.23rem;
   --medium-font-size: 1.18rem;
   --base-font-size: 1.1rem;
   --small-font-size: 1.07rem;
   --tiny-font-size: .93rem;
   
   /* ======= Font weights ======= */
   --font-light: 300;
   --font-regular: 400;
   --font-medium: 500;
   --font-semi-bold: 600;
   --font-bold: 700;

   /* ======= Layering order(z-index) ======= */
   --z-minus: -1;
   --z-base: 0;
   --z-low: 1;
   --z-high: 10;
   --z-content: 100;
   --z-tooltip: 1000;
   --z-fixed: 1100;
   --z-overlay: 1110;
   --z-modal: 1990;
   --z-max: 9999;
}

/* ======= Light theme ======= */

/* =========================================
   Reset / Normalize
========================================= */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--body-font-family);
}

ul, li{
   list-style: none;
}

a{
   color: var(--color-04);
   text-decoration: none;
   cursor: pointer;
}

/* =========================================
   Base Styles
========================================= */
html{
   scroll-behavior: smooth;
}

body{
   color: var(--color-04);
   background: var(--body-color);
   transition: .3s;
}
/* =========================================
   Reusable Styles
========================================= */
.sue-section{
   position: relative;
   overflow: hidden;
}
.sue-container{
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
}

.sue-sub-container{
   padding-top: 7em;
   padding-bottom: 5em;
}

.sue-wrapper{
   position: relative;
   width: 100%;
   height: 100%;
}

.section-title{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 95px;
}

.section-title h3{
   color: var(--color-01);
   font-size: var(--h3-font-size);
   font-weight: var(--font-bold);
   margin-bottom: 10px;
}

.section-title p{
   color: var(--color-04);
   font-size: var(--base-font-size);
   font-weight: var(--font-regular);
}

.section-content{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 75px;
}
/* =========================================
   Components
========================================= */

/* ========== Page scroll bar ========== */

/* ========== Customized cursor ========== */

/* ========== To top button with scroll indicator bar ========== */

/* ========== Buttons ========== */
.sue-main-btn{
   width: fit-content;
   padding: 14px 30px;
   border-radius: 35px;
   cursor: pointer;
   transition: .3s;
}
.sue-main-btn:hover{
   color: var(--white-color);
   background: var(--hover-color);
   border: 2px solid var(--hover-color);
}
.sue-main-btn a{
   color: var(--color-01);
   font-size: var(--small-font-size);
   font-weight: 500;
   transition: .3s;
}

.sue-main-btn:hover a{
   color: var(--white-color);
}

.border-btn{
   border: 2px solid var(--z-fixed);
}

.fill-btn{
   background: var(--primary-color);
   border: 2px solid var(--primary-color);
}

.fill-btn a{
   color: var(--dark-color);
}
/* =========================================
   Header
========================================= */
.sue-header{
   z-index: var(--z-fixed);
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   padding: 30px 0;
   transition: .3s ease;
}

.sue-header .inner {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.sue-logo a{
   color: var(--color-01);
   font-size: 2.6rem;
   font-weight: var(--font-semi-bold);
   letter-spacing: -3px;
   transition: .3s;
}

.sue-logo a{
   color: var(--hover-color);
}

.header-btns{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 25px;
}

.lets-talk-icon{
   color: var(--color-01);
   font-size: 1.8rem;
   cursor: pointer;
   transition: .3s;
   display: none;
}

.lets-talk-icon:hover{
   color: var(--hover-color);
}

/* ========== Dark/Light theme buttons ========== */
.theme-btn{
   position: relative;
   display: flex;
   justify-content: end;
   align-items: center;
   width: 27px;
   cursor: pointer;
}

.theme-btn i{
   position: absolute;
   color: var(--color-01);
   font-size: 1.7rem;
   cursor: pointer;
   transition: .3d;
}

.theme-btn:hover i{
   color: var(--hover-color);
   transform: rotate(-15deg);
}

.theme-btn .moon-icon{
   display: none;
}
/* =========================================
   Bottom navigation menu
========================================= */
.bottom-nav-container{
   position: relative;
}

.bottom-nav{
   z-index: var(--z-fixed);
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 50px;
}

.bottom-nav-inner{
   position: relative;
}

.bottom-nav .menu{
   background: var(--bottom-nav-bg);
   backdrop-filter: blur(10px);
   padding: 16px 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 25px;
   border-bottom: 1px solid hsl(var(--hue) 45% 98% / .1);
   border-left: 1px solid hsl(var(--hue) 45% 98% / .1);
   border-radius: 50px;
   /* display: none; */
}

.bottom-nav .menu li a{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.bottom-nav .menu li a i{
   color: var(--color-02);
   font-size: 1.4rem;
   padding: 10px;
   border-radius: 50%;
   transition: .3s;
}

.bottom-nav .menu li:hover a i{
   color: var(--white-color);
   background: var(--hover-color);
}

.bottom-nav .menu .current i{
   color: var(--dark-color);
   background: var(--primary-color);
}

.bottom-nav .menu li a span{
   z-index: var(--z-tooltip);
   position: absolute;
   color: var(--dark-color);
   background: var(--primary-color);
   font-size: var(--tiny-font-size);
   font-weight: var(--font-medium);
   padding: 3px 10px;
   transform: translateY(-53px);
   border-radius: 5px;
   pointer-events: none;
   opacity: 0;

}

.bottom-nav .menu li:hover a span{
   opacity: 1;
}

.bottom-nav .menu li a span:before{
   content: "";
   z-index: var(--z-minus);
   position: absolute;
   background: var(--primary-color);
   width: 10px;
   height: 10px;
   left: 50%;
   bottom: -8px;
   transform: rotate(45deg) translateX(-50%);
}

.bottom-nav .menu-hide-btn{
   z-index: var(--z-fixed);
   position: absolute;
   top: -5px;
   right: 0;
   color: var(--dark-color);
   font-size: 1.52rem;
   background: var(--primary-color);
   padding: 2px;
   border-radius: 50%;
   cursor: pointer;
   transition: .3s ease;
   pointer-events: none;
   opacity: 0;
}

.bottom-nav .menu-hide-btn:hover{
   color: var(--white-color);
   background: var(--hover-color);
}

.menu-show-btn{
   z-index: var(--z-fixed);
   position: fixed;
   background: var(--bottom-nav-bg);
   backdrop-filter: blur(10px);
   width: 85px;
   height: 50x;
   border-bottom: 1px solid hsl(var(--hue) 45% 98% / .1);
   border-left: 1px solid hsl(var(--hue) 45% 98% / .1);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   row-gap: 5px;
   translate: -50% 0;
   left: 50%;
   /* bottom: 50px; */
   bottom: -75px;
   opacity: 0;
   border-radius: 5px;
   cursor: pointer;
   overflow: hidden;
   animation: wiggle 2s linear infinite;
   animation-delay: 1s;
}

@keyframes wiggle {
   0%,
   5%{
      transform: rotateZ(0);
   }
   20%{
      transform: rotateZ(10deg);
   }
   25%{
      transform: rotateZ(-10deg);
   }
   30%{
      transform: rotateZ(6deg);
   }
   35%{
      transform: rotateZ(-4deg);
   }
   40%,
   100%{ transform: 0deg;
   }
}

.menu-show-btn .bar-01,
.menu-show-btn .bar-02{
   background: var(--primary-color);
   width: 40px;
   height: 4px;
   transition: .15s;
}

.menu-show-btn:hover .bar-01,
.menu-show-btn:hover .bar-02{
   background: var(--hover-color);
}
/* =========================================
   Home
========================================= */
.home-container{
   height: 100vh;
}

.home-container .sue-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
}

.avatar-container{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 25px;
}

.avatar-img{
   position: relative;
   width: 425px;
   height: 425px;
}

.avatar-img img{
   position: absolute;
   width: 100%;
}

.home-social{
   position: absolute;
   left: 0;
}

.home-social span{
   position: absolute;
   left: 10px;
   color: var(--color-01);
   font-size: var(--tiny-font-size);
   transform: rotateZ(-90deg);
   transform-origin: left;
}

.home-social .social-line{
   background: var(--color-01);
   width: 1px;
   height: 100px;
   margin-top: 37px;
   margin-bottom: 25px;
   margin-left: 10px;
}

.home-social .social-icon{
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.home-social .social-icon li a{
   color: var(--color-01);
   font-size: var(--xlarge-font-size);
   transition: .3s;
}

.home-social .social-icon li a:hover{
   color: var(--hover-color);
}

.avatar-container .hire-btn-01{
   display: none;
}

.avatar-info{
   position: relative;
}

.avatar-info .text-content{
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.avatar-info .hello-text{
   font-size: var(--base-font-size);
   font-weight: var(--font-semi-bold);
}

.avatar-info .my-name{
   color: var(--color-02);
   font-size: var(--h1-font-size);
   font-weight: var(--font-bold);
}

.avatar-info .what-i-do{
   font-size: var(--base-font-size);
   font-weight: var(--font-semi-bold);
   margin-bottom: 35px;
}

.home-scroll-btn{
   position: absolute;
   right: -5px;
   color: var(--color-01);
   display: grid;
   justify-items: center;
   row-gap: 3px;
   animation: up-down 1.5s linear infinite;
   animation-delay: 1.85s;
}

.home-scroll-btn:hover{
   color: var(--hover-color);
}

@keyframes up-down {
   0%{
      transform: translateY(8px);
      -webkit-transform: translateY(8px);
      -moz-transform: translateY(8px);
      -ms-transform: translateY(8px);
      -o-transform: translateY(8px);
   }
   50%{
      transform: translateY(-8px);
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      -o-transform: translateY(-8px);
   }
   100%{
      transform: translateY(8px);
      -webkit-transform: translateY(8px);
      -moz-transform: translateY(8px);
      -ms-transform: translateY(8px);
      -o-transform: translateY(8px);
}
}

.home-scroll-btn div{
   font-size: var(--tiny-font-size);
   font-weight: var(--font-regular);
   writing-mode: vertical-lr;
   text-orientation: mixed;
   white-space: nowrap;
   transform: rotate(180deg);
   margin-top: 7px;
}

.home-scroll-btn i{
   font-size: 2rem;
}

/* =========================================
   About Me
========================================= */
.about-img{
   position: relative;
   width: 35%;
   display: flex;
   justify-content: center;
   align-items: center;
   pointer-events: none;
}

.about-img img{
   width: 100%;
   border-radius: 15px;
}

.about-details{
   width: 65%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.about-info .iam{
   color: var(--color-02);
   font-size: var(--h4-font-size);
   font-weight: var(--font --font-semi-bold);
   margin-bottom: 30px;
}

.about-info .about-description{
   font-size: var(--base-font-size);
   font-weight: var(--font-regular);
   line-height: 25px;
}

.pro-list{
   position: relative;
   max-width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
   column-gap: 10px;
   row-gap: 12px;
   margin: 38px 0;
}

.pro-card{
   background: var(--card-bg);
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 10px;
   padding: 35px 25px;
   text-align: left;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.pro-card span{
   color: var(--primary-color);
   font-size: 2.75rem;
   font-weight: var(--font-bold);
}

.pro-card span{
   color: var(--primary-color);
   font-size: 2.75rem;
   font-weight: var(--font-bold);
}

.pro-card p{
   color: var(--color-02);
   font-size: var(--tiny-font-size);
   font-weight: var(--font-regular);
   line-height: 20px;
   max-width: 100px;
}

.about-buttons{
   display: flex;
   flex-wrap: wrap;
   column-gap: 20px;
   row-gap: 25px;
}
/* =========================================
   My Resume
========================================= */
.resume-tabs {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
   margin-bottom: 100px;
}

.resume-tabs .tab-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   color: var(--color-01);
   font-size: var(--medium-font-size);
   font-weight: var(--font-medium);
   padding: 12px 20px;
   border-radius: 25px;
   cursor: pointer;
   transition: 0.3s;
   border: 2px solid transparent;
}

.resume-tabs .tab-btn:hover {
   color: var(--hover-color);
}

.resume-tabs .tab-btn i {
   font-size: var(--xlarge-font-size);
   margin-right: 5px;
}

.resume-tabs .tab-btn.active {
   color: var(--white-color);
   background: var(--primary-color);
   font-weight: var(--font-semi-bold);
   border-color: var(--dark-color);
}

.resume-tabs .tab-btn.active:hover {
   background: var(--hover-color);
   font-size: var(--h4-font-size);
   margin-bottom: 10px;
}

.resume-tab-content {
   position: relative;
   width: 100%;
   justify-content: center;
   margin-bottom: 25px;
   display: none;
}

.resume-tab-content.active {
   display: flex;
}

.education, .experience {
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
   transform: translateY(35px);
}

.education .resume-line, .experience .resume-line {
   background: var(--primary-color);
   width: 2px;
   height: 100%;
   position: absolute;
   left: 50%;
   top: 0;
   bottom: 0;
   transform: translateX(-50%);
}

.resume-items {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 100px;
}

.resume-items .item {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.resume-items .item:before {
   content: "";
   position: absolute;
   background: var(--primary-color);
   width: 15px;
   height: 15px;
   border-radius: 50%;
}

.resume-items .item .info {
   position: absolute;
   width: 250px;
   display: flex;
   align-items: center;
   gap: 25px;
}

.resume-items .item-left .info {
   right: 35px;
   text-align: right;
}

.resume-items .item-right .info {
   left: 40px;
   text-align: left;
}

.resume-items .item .info h5 {
   color: var(--color-02);
   font-size: var(--h5-font-size);
   font-weight: var(--font-semi-bold);
   margin-bottom: 10px;
}

.resume-items .item .info p {
   color: var(--color-04);
   font-size: var(--small-font-size);
   margin-bottom: 18px;
}

.resume-items .item .info span {
   background: var(--primary-color);
   color: var(--dark-color);
   font-size: var(--font-medium);
   padding: 3px 12px;
   border-radius: 3px;
}

.skill-container {
   max-width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 50px;
   place-items: center;
}

.skill-card {
   background: var(--card-bg);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 50px 25px;
   border-bottom: 5px solid var(--primary-color);
   border-radius: 10px;
}

.skill-title {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 50px;
}

.skill-title i {
   font-size: 2.15rem;
   color: var(--primary-color);
}

.skill-title span {
   color: var(--color-02);
   font-size: var(--medium-font-size);
   font-weight: var(--font-semi-bold);
}

.skill-categories {
   display: grid;
   place-items: center;
   grid-template-columns: repeat(2, 1fr);
   gap: 35px 65px;
   padding: 0 50px;
}

.skill {
   display: flex;
   gap: 15px;
}

.skill i {
   color: var(--primary-color);
   font-size: 1.35rem;
}

.skill-info {
   display: flex;
   flex-direction: column;
   row-gap: 5px;
}

.skill-info h5 {
   color: var(--color-02);
   font-size: var(--h5-font-size);
   font-weight: var(--font-semi-bold);
}

.skill-info span {
   color: var(--color-04);
   font-size: var(--tiny-font-size);
}

/* =========================================
   Services
========================================= */

/* =========================================
   Portfolio
========================================= */

/* =========================================
   Testimonials
========================================= */

/* =========================================
   Contact Me
========================================= */

/* =========================================
   Footer
========================================= */

/* =========================================
   Media Queries (max-width: 1600px)
========================================= */

/* =========================================
   Media Queries (max-width: 1200px)
========================================= */

/* =========================================
   Media Queries (max-width: 992px)
========================================= */

/* =========================================
   Media Queries (max-width: 768px)
========================================= */

/* =========================================
   Media Queries (max-width: 480px)
========================================= */